@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  width: 90%;
  margin: 8rem auto;
  height: 600px;
}

.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.next {
  transform: scale(3);
  right: 0%;
  top: 50%;
}

.prev {
  transform: scale(3);
  left: 0%;
  top: 50%;
}

.slide {
  transition: transform 300ms;
  opacity: 0.5;
}

.leftSlide {
  transform: scale(0.7);
}

.nextSlide {
  transform: scale(0.5);
}
